@media (max-width: 480px){
  .box{
  width: 10%;
}
    nav{
  justify-content: space-between;
}
nav img{
  width: 30%;
}
.banner{
  width: 100%;
}
.logo{
  display: none;
}
.Main {
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.sidebar {
  display: none;
}
.menu {
  width: 100%;
  min-height: 100vh;
  text-align: center;
}
.title{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  padding: 10px 0;
}
.btn-back {
  position: absolute; /* ¡MAGIA! Saca al botón del flujo normal */
  left: 0;           /* Lo pega a la izquierda */
  top: 0;
}
  .options{
    display: none;
}
.midle {
  width: 100%;
  align-items: center;
}
.form_group {
  width: 100%;
  align-items: center;
}
form button{
  width: 80%;
  text-align: center;
  
}
form .button {
  width: 100%;
}
input, select {
  text-align: center;
  width: 100%;
}
.profile{
  display: none;
}
.resposive-boton{
  width: 100%;
  background-color: #ffff;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
.resposive-boton a{
  color: #002b70;
  text-decoration: none;
  font-size: 20px;
  margin-right: 20px;
}
.resposive-boton img{
  width: 40%;
}
.nav-mobile{
    position: absolute;
    display: block !important;
  }
   .nav-mobile ul{
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
    padding-top: 40px;
    padding-left: 10px;
    gap: 20px;
  }
     .nav-mobile ul li{
    width: 100%;
    margin: 30px 0px;
  }
  .nav-mobile a{
    text-decoration: none;
    color: #002b70;
  }
  .boton_cerrar{
    position: absolute;
    top: 15px;
    right: 10px;
  }
  .boton_cerrar a{
    text-decoration: none;
    color: red;
  }
  nav{
    position: relative;
    display: block;
    position: fixed;
    background-color: #ffff;
    height: 100vh;
    width: 50%;
    top: 0;
    left: -100%;
    z-index: 100;
    transition: all 0.5s linear;
  }
  nav.abrir_Menu{
    left: 0;
  }
  nav.cerrar_menu{
    left: -100%;
  }
  .container_events{
  flex-direction: column;
  align-items: center;
}
.contenedor_eventos{
  width: 90%;
}
#calendar-container {
        width: 100%;
        overflow-x: auto; 
        -webkit-overflow-scrolling: touch; /* Scroll suave en iPhone */
        padding-bottom: 10px;
    }

    /* Forzamos al calendario a mantener un ancho mínimo para que no se aplaste */
    #calendar {
        min-width: 750px; 
    }

    /* Achicamos un poco los botones del encabezado del calendario para móvil */
    .fc .fc-toolbar {
        flex-direction: column;
        gap: 10px;
    }
    .fc .fc-toolbar-title {
        font-size: 1.2rem !important;
    }
    #reader{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}
}