@media (min-width: 481px) and (max-width: 1024px){
  .box{
  width: 80%;
}
  nav{
  justify-content: space-between;
}
nav img{
  width: 20%;
}
.logo img{
  width: 80%;
}
.sidebar {
  height: 100%;
  width: 17%;
  background-color: white;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow-y: auto; /* ACTIVA EL SCROLL */
  overflow-x: hidden;
  align-items:flex-start;
}

.sidebar a{
  width: auto;
  font-size: 14px;
  padding: 0px 0px;
}
.sidebar i{
  font-size: 14px;
  margin-right: 5px;
}
.menu {
  width: 82%;
  height: 100%;
  background-color: #ffff;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  overflow-y: auto; /* ACTIVA EL SCROLL */
}
  .options{
  gap: 30px;
}
.midle {
  width: 100%;
  align-items: center;
}
.form_group {
  width: 100%;
  align-items: center;
}
input, select {
  width: 100%;
}
#calendar-container{
  width: 100%;
}
#calendar {
    width: 90%;
    margin:10px;
    background: rgba(255, 255, 255, 0.9); 
    padding:10px;
    border-radius: 15px;
    box-shadow: 0 10px 30px rgba(0,0,0,0.1);
}
.admin-container {
    justify-content: center;
    padding-top: 50px;
    align-content: center;
    padding: 20px;
    background-color: #f4f7f6; /* Color de fondo suave */
    overflow-y: auto;
}
    #reader{
  width: 100%;
  height: auto;
  margin-bottom: 20px;
}

}